{% assign experiences = site.data.data.experiences %}
{% if experiences %}
    <div class="education-container container-block">
      <h2 class="container-block-title">
        Working Experience
      </h2>
      {% for experience in experiences %}
      <div class="item">
          <h4 class="degree">{{ experience.role }}</h4>
          <h5 class="meta">{{ experience.company }}</h5>
          <div class="time">{{ experience.time }}</div>
      </div><!--//item-->
      {% endfor %}
    </div><!--//education-container-->
  
    </div><!--//item-->
    {% endfor %}
  </section><!--//section-->
  {% endif %}
{% endif %}

